<div class="container">
  <h2>General Discussion</h2>

  <form>
    <h3>Submit a post</h3>
    <input type="text" placeholder="Title"/>
    <textarea placeholder="Enter your post here..."></textarea>
  </form>
</div>
