<div class="forum">
  <% if @user_is_legend %>
    <div class="forum-preview">
      <header class="forum-header">
        <h2><a href="/forum/legend-lounge">Legend Lounge</a></h2>
        <a href="<%= forum_posts_new_path %>?type=legend" class="new-post-link">New post</a>
      </header>

      <div class="forum-posts">
        <%= render partial: "forum_posts/forum_post", collection: @legend_posts %>
      </div>
    </div>
  <% end %>

  <div class="forum-preview">
    <header class="forum-header">
      <h2><a href="/forum/general-discussion">General Discussion</a></h2>
      <a href="<%= forum_posts_new_path %>" class="new-post-link">New post</a>
    </header>

    <div class="forum-posts">
      <%= render partial: "forum_posts/forum_post", collection: @general_posts %>
    </div>

    <% if @has_more %>
      <a href="/forum/general-discussion">View more posts</a>
    <% end %>
  </div>

  <% if !@user_is_legend %>
    <div class="forum-preview">
      <header class="forum-header">
        <h2>Legend Lounge</h2>
      </header>

      <div class="access-required">
        Verify your legend status to gain access
      </div>
    </div>
  <% end %>
</div>
