<div class="container forum">
  <header class="main-header">
    <h2>General Discussion</h2>
    <a href="<%= forum_posts_new_path %>">New post</a>
  </header>

  <div class="forum-posts">
    <%= render partial: "forum_posts/forum_post", collection: @forum_posts %>
  </div>
</div>
