<script id="legend-stats" type="text/javascript">
  window.hsrpf = {
    legendStats: <%= sanitize(@legend_stats.to_json).html_safe %>,
    replayData: <%= @replay_data.html_safe %>
  };
</script>

<div class="app-container"></div>
