<script id="replay-data" data-player-name="<%= @player_name %>" type="application/json">
  <%= @replay_data.html_safe %>
</script>

<section class="card-replays">
  <div class="container">
    <h2>Recent games played by <%= @player_name %></h2>
    <div class="card-replays-list"></div>
  </div>
</section>
