<div class="container new-forum-post">
  <% if @user %>
    <%= form_tag forum_posts_path, method: :post do %>
      <input type="hidden"
             value="<%= request_forgery_protection_token %>"
             name="csrf_token"/>
      <h3>Submit a post</h3>
      <input type="text" placeholder="Title" name="forum_post[title]"/>
      <br>
      <textarea placeholder="Enter your post here..."
                name="forum_post[content]"></textarea>
      <br>
      <input type="submit"/>
    <% end %>
  <% else %>
    <a href="<%= account_login_path %>" class="bnet-login">Log in with Battle.net</a>
    <div>To create a post</div>
  <% end %>
</div>
