<div class="forum new-forum-post">
  <% if @user %>
    <header class="forum-header">
      <h2><a href="/forum/general-discussion">General Discussion</a></h2>
      <div class="separator">&mdash;</div>
      <h3 class="submit-post-header">Submit a post</h3>
    </header>

    <%= form_tag forum_posts_path, method: :post do %>
      <input type="hidden"
             value="<%= request_forgery_protection_token %>"
             name="csrf_token"/>
      <input type="text" placeholder="Title" name="forum_post[title]"/>
      <br>
      <textarea placeholder="Enter your post here..."
                name="forum_post[content]"></textarea>
      <br>
      <input type="submit"/>
    <% end %>
  <% else %>
    <%= render partial: "forum_posts/login_prompt" %>
  <% end %>
</div>
