/*
 *= require reset
 *= require_self
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.description {
  font-size: 14px;
  margin-left: 25px;
  opacity: 0.7;
}

.user-info {
  font-size: 14px;
  margin-left: auto;
}

.container {
  padding: 20px 0 15px;
  display: flex;
  align-items: center;
  width: 760px;
  margin: 0 auto;
}
