/*
 *= require reset
 *= require_self
 *= require colors
 *= require main_header
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-width: 100%;
  width: 100%;
  height: 100%;
  background: rgb(224, 224, 224);
  text-align: left;
  overflow-y: scroll;
}

.container {
  width: 790px;
  // padding: 0 20px;
  margin: 0 auto;
  background: white;

  &.flex {
    display: flex;

    & > .left {
      font-size: 16px;
      color: rgba(0,0,0,0.7);
      border-right: 1px solid #eaeaea;
      width: 530px;
      padding-top: 20px;

      h2 {
        margin-bottom: 20px;
        margin-left: 20px;
      }
    }
  }
}

.main-header {
  position: fixed;
  z-index: 1000;

  .container {
    padding: 0 20px;
  }
}

.main-header-spacer {
  height: 40px;
}

.search-filters {
  margin: 10px 20px 10px;

  & > div {
    display: flex;
  }

  .label {
    width: 150px;
    padding: 8px 0;
  }

  .selector {
    font-weight: bold;
    padding: 7px 0;
  }
}

.search-results {
  background: #ececec;
  padding: 10px 10px;
}

.sidebar {
  width: 260px;
  padding-left: 10px;
  padding-right: 20px;

  .sidebar-section-header {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin: 20px 0;

    h3 {
      font-size: 14px;
      font-weight: bold;
    }

    h4 {
      font-size: 12px;
      margin-top: 5px;
    }
  }

  .stats-header {
    display: flex;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;

    .right {
      margin-left: auto;
    }
  }

  .stats-section {
    margin-bottom: 30px;

    .stats-row {
      display: flex;
      padding: 3px 0;

      .count {
        margin-left: auto;
      }
    }
  }
}
