.color-druid {
  color: #af561a;
}
.color-hunter {
  color: #499a46;
}
.color-mage {
  color: #4b68cc;
}
.color-paladin {
  color: #dcaa17;
}
.color-priest {
  color: #a1aeb2;
}
.color-rogue {
  color: #9aa1ad;
}
.color-shaman {
  color: #636eb7;
}
.color-warlock {
  color: #8e33a7;
}
.color-warrior {
  color: #ca422a;
}

.sub-header-bg {
  background: #f5f5f5;
}
