// the page at /decks

.decks {
  $image-size: 60px;
  $left-margin: 40px;

  $left-col-width: 220px;
  $mid-col-width: 80px;
  $right-col-width: 100px;
  $total-col-width: $left-col-width + $mid-col-width + $right-col-width;

  margin-bottom: 100px;

  .description {
    margin: 30px 0;
    line-height: 24px;
  }

  .decks-header {
    display: flex;
    margin-left: $image-size + $left-margin;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 20px;
    width: $total-col-width;
    opacity: 0.5;

    .header-text {
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  .left {
    width: $left-col-width;
  }
  .mid {
    width: $mid-col-width;
    text-align: right;
  }
  .right {
    width: $right-col-width;
    text-align: right;
  }

  .class-stats {
    display: flex;
    margin-bottom: 20px;
    line-height: 25px;

    a {
      display: block;
      color: inherit;
      text-decoration: none;

      &:hover {
        color: #45ABFE;
      }
    }

    img {
      border-radius: 2px;
      width: $image-size;
      height: $image-size;
      display: block;
    }

    .archetype-stats {
      margin-left: $left-margin;
      width: $total-col-width;
      position: relative;
      top: -5px;
    }

    .archetype-row {
      display: flex;

      .left {
        font-weight: bold;
      }
    }
  }
}
