$link-color: #45abfe;

.forum {
  header {
    display: flex;
    align-items: center;
  }

  .main-header {
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.05);

    a {
      color: $link-color;
      margin-left: 30px;
    }
  }
}

.forum-post-preview {
  margin: 25px 0;

  header, footer {
    display: flex;
    align-items: center;
  }

  footer {
    margin-top: 5px;
  }

  a {
    color: inherit;
    display: block;
    text-decoration: none;

    &:hover {
      color: $link-color;
    }
  }
}

.new-forum-post {
  input[type="text"] {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    padding: 3px 8px;
    width: 500px;
  }

  textarea {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    padding: 3px 8px;
    width: 500px;
    min-height: 150px;
  }
}

.forum-post {
  .title {
    font-weight: bold;
  }

  .separator {
    margin: 0 5px;
  }

  .timestamp {
    font-size: 14px;
  }

  .content {
    margin-top: 30px;
  }
}
