$link-color: #45abfe;

.forum {
  header {
    display: flex;
    align-items: center;
  }

  .forum-header {
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.05);

    a {
      color: $link-color;
      margin-left: 30px;
    }
  }
}

.forum-post-preview {
  margin: 30px 0;

  header, footer {
    display: flex;
    align-items: center;
  }

  footer {
    margin-top: 7px;
  }

  a {
    color: inherit;
    display: block;
    text-decoration: none;

    &:hover {
      color: $link-color;
    }
  }
}

.new-forum-post {
  margin-top: 30px;

  input[type="text"] {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    padding: 3px 8px;
    width: 500px;
  }

  textarea {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    padding: 3px 8px;
    width: 500px;
    min-height: 150px;
  }
}

.forum-post {
  header, footer {
    display: flex;
    align-items: center;
  }

  .title {
    font-weight: bold;
  }

  .separator {
    margin: 0 7px;
  }

  .timestamp {
    font-size: 14px;
  }

  .comments-count {
    font-size: 14px;
  }

  .content {
    margin: 30px 0;
  }
}

.show-forum-post {
  padding: 30px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

.forum-comment {
  margin: 20px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 20px;

  footer {
    display: flex;
    align-items: center;
    margin-top: 7px;

    .separator {
      margin: 0 5px;
    }

    .timestamp {
      font-size: 14px;
    }

    .content {
      margin: 30px 0;
    }
  }
}
