.user-profile {
  padding: 50px 0;

  section {
    border-top: 1px solid rgba(0,0,0,0.2);
    padding-top: 20px;
  }

  h3 {
    font-weight: bold;
    margin-bottom: 30px;
  }

  input[type="text"] {
    font-size: 16px;
    width: 300px;
  }

  input[type="submit"] {
    display: block;
    margin-top: 15px;
  }

  small {
    font-size: 13px;
    opacity: 0.5;
  }

  .editable-fields {
    margin-top: 80px;
  }

  .field {
    display: flex;
    margin: 5px 0;

    .field-name {
      width: 200px;
    }

    .field-value {
      font-weight: bold;
      width: 500px;
    }
  }

  .errors {
    margin-top: 15px;
    color: orange;
  }

  .submit-replays {
    margin-top: 50px;

    h4 {
      line-height: 22px;
    }

    textarea {
      margin-top: 20px;
      width: 500px;
      height: 100px;
      font-size: 14px;
    }

    input[type="submit"] {
      font-size: 30px;
    }
  }
}
