<header class="main-header">
  <div class="container header-container">
    <h1 class="title">
      <a href="/">Meta Legend</a>
      <a href="/beta"><small>beta</small></a>
    </h1>

    <div class="header-links left">
      <a href="/decks">Decks</a>
      <a href="/wild">Wild</a>
      <a href="/arena">Arena</a>
    </div>

    <div class="header-links right">
      <a href="https://discord.gg/mtx6yyB" target="_blank">Discord</a>
      <a href="https://github.com/linrock/meta-legend">Source code</a>

      <% if @user %>
        <a href="/account"><%= @user.forum_name %></a>
      <% else %>
        <a href="/account/login" class="bnet-login">Log in with Battle.net</a>
      <% end %>
    </div>
  </div>
</header>
